@use "sass:math";
@import '../../styles/settings.scss';

.cardsList {
  justify-content: center;
  width: calc(33% - 12px);
  background: $color-light;
  margin: 0 auto;
  padding: ($base-size * 1.5);
  border-radius: $radius;
  box-shadow: 0 math.div($base-size, 4) 0 rgba(0,0,0,0.3);
  color: $color-dark;
}

.cards {
    padding: 10px;
  }

.nocard {
    text-align: center;
    font-size: ($base-size * 1.5);
}